
/* Basic */
html, body, div,  span,  object,  h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
 label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
	margin: 0 ;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
	body {
		display: block;
		margin:-8px;
		background: #022756f2;
		font-family: 'Source Sans Pro', sans-serif;
		color: rgb(239, 230, 230);
		transition: none !important;
	}

/* Header */

	#header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #222629 url("src/assets/images/overlay.png");
	background-repeat: no-repeat;
    box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 100%;
	left: 0;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0px;
    width: 171px;
	}
	

		
	#logo {
		position: relative;
		margin: 1.75em 1.5em 1em 4em ;
		min-height: 48px;
	
	}

		#logo h1 {
			position: relative;
			color: #fff;
			font-weight: 900;
			font-size: 1em;
			line-height: 1em;
		}

		#logo p {
			position: relative;
			font-size: 0.6em;
			line-height: 3em;
			color: rgba(255, 255, 255, 0.5);
			
	
		}


	#nav ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		
	}

	

			#nav ul li a {
				display: block;
				outline: 0;
				border: 0;
				padding: 0.5em 1.5em 0.5em 1.5em;
				color: rgba(255, 255, 255, 0.5);
				text-decoration: none;
				margin: 0 !important;
				transition: none;
			
			}
		#nav ul li a span {
					position: relative;
					display: block;
					font-size: 0.8em;
				}

					#nav ul li a span:before {
						position: absolute;
						left: 0;
						color: #41484c;
						text-align: center;
						width: 1.25em;
						line-height: 1.75em;
					}

/* Wide */

	@media screen and (min-width: 961px) and (max-width: 1320px) {

		/* Basic */

			body,   select {
				font-size: 16pt;
				padding: 5em 0;
			}
		
	}


/* Main */

#main {
	margin-left: 375px;
}

	#main > section {
		margin: 0;
		overflow: hidden;
		padding: 1em 0;
		box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
		text-align: center;
		background-image: url("src/assets/images/overlay.png");
	}

		#main > section.dark {
			color: #ddd;
			color: rgba(255, 255, 255, 0.75);
		}

			#main > section.dark h2, #main > section.dark h3, #main > section.dark h4, #main > section.dark h5, #main > section.dark h6 {
				color: inherit;
			}

			#main > section.dark strong {
				color: #fff;
				border-color: inherit;
			}

			#main > section.dark a {
				color: #fff;
				border-color: inherit;
			}

				#main > section.dark a:hover {
					border-bottom-color: rgba(255, 255, 255, 0);
				}

		#main > section.cover {
			padding: 10em 0;
			background-size: cover;
			background-position: center center;
		}

		#main > section.one {
			background-color: #81918E;
			background-image: url("src/assets/images/pt.jpg");
		}

		#main > section.two {
			background-color: #f5fafa;
		}

		#main > section.three {
			background-color: #ecf1f1;
		}

		#main > section.four {
			background-color: #e8edec;
		}

/* Wide */

@media screen and (min-width: 961px) and (max-width: 1880px) {

	/* Basic */

		body, input, textarea, select {
			font-size: 16pt;
		}

	/* Header */

		#header {
			width: 300px;
		}



	/* Main */

		#main {
			margin-left: 300px;
		}

}

/* Normal */

@media screen and (min-width: 961px) and (max-width: 1620px) {

	/* Main */

		#main > section {
			padding: 3em 0;
		}

		#main section.cover {
			padding: 5em 0;
		}

}

/* Narrow */

@media screen and (min-width: 961px) and (max-width: 1320px) {

	/* Basic */

		body, input, textarea, select {
			font-size: 15pt;
		}

		.container {
			padding: 0 2em 0 2em;
		}

	/* Icons */

		ul.icons li a {
			width: 1.75em;
		}

	/* Item */

		.item {
			margin-bottom: 20px;
		}

	/* Header */

		#header {
			width: 20%;
		}

		#logo .image {
			position: relative;
			margin: 0 0 0.5em 0;
		}

		#nav ul li a {
			font-size: 0.8em;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}

			#nav ul li a span {
				padding-right: 2.25em;
			}

				#nav ul li a span:before {
					left: 100%;
					margin-left: -1.25em;
					line-height: 2.25em;
				}


	/* Main */

		#main {
			margin-left: 20%;
		}

}

