
<body class="is-preload">

  <!-- Header -->
    <div id="header" class="cover" img src="src/assets/images/pt.jpg"  alt="">
    
      <div class="top">

        <!-- Logo -->
          <div id="logo">
            <h1 id="title">Meskerem Ayale</h1>
            <p>Web Developer</p>
          </div>

        <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><a routerLink="" id="home"><span class="icon solid fa-home">Home</span></a></li>
              <li><a routerLink="biography" id="biography-link"><span class="icon solid fa-user">Biography</span></a></li>
              <li><a routerLink="resume" id="resume-link"><span class="icon solid fa-th">Resume</span></a></li>
              <li><a routerLink="contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
            </ul>
          </nav>

      </div>



    </div>

 
   

     
<router-outlet></router-outlet>