<body class="is-preload">
 <!-- About Me -->
 <div id="main">
 <section id="about" class="three">
    <div class="container">

      <header>
        <h2> <strong>About Me </strong></h2>
      </header>


      <p>I have a BA in health studies and a minor in health education from the Univercity of Washington. After I graduated, 
        I worked as an employment case manager for nonprofit organizations helping low-income induvial and immigrants find 
        employment and resources. After one year, I decided to leave my job and pursue my passion for software development. 
        Currently, I'm a software development student at Year Up Puget Sound studying JavaScript, CSS, HTML, and other technical and professional skills. 
        In my free time, I enjoy creating unique webpages, and I've had the privilege of participating in serval projects developing webpages. 
        I am hoping to utilize these skills to break into the tech industry as a Jr. Software developer and also close the opportunity divide. </p>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
  </section>

 </div>