

<body>
		<div id="main">
<section  id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Meskerem Ayale </h1>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="memeayale85@gmail.com">memeayale85@gmail.com</a></h3>
						<h3>(206) - 765-8345</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge,">
									I have a bachelors degree in Health Studies and minor in Health Education and Promotion from the University of Washington. Currently pursuing my passion for software development, furthering my education as a Software Developer and Tester at Seattle Central Community College through Year Up. I hope to utilize my skills to close the opportunity divide and start my career as a Jr. Developer. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Relevant Skills </h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>HTML5</li>
								<li>Linux/Unix</li>
								<li>Javascript</li>
								<li class="last">Angular </li>
							</ul>

							<ul class="talent">
								<li>MEAN Stack</li>
								<li>Microsoft office </li>
								<li>Google Cloud </li>
								<li class="last">Google Cloud</li>
							</ul>

							<ul class="talent">
								<li>GitHub</li>
								<li>Git </li>
								<li>CSS</li>
								<li class="last">Virtual Studios</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
								<div class="job">
										<h2>Literacy Source, </h2>
										<h3>Employment Case Manager</h3>
										<h4>October 2018 – July 2019</h4>
										<p>•	Completed intake forms for 60 students and developed individual's employment plans using Excel and Microsoft Word, ensuring accurate information.
												Provided employment counseling including developing resumes, facilitating workshops and job application process, resulting in 32 job placements.
												Organized and facilitated an annual job fair, resulting in 10 job placements.
												Composed quarterly reports that included highlights and total number of job placements to ensure funding for the organization.
												 </p>
									</div>


							<div class="job">
								<h2>University of Washington</h2>
								<h3>Junior Senator</h3>
								<h4>January 2016 – May 2016</h4>
								<p> Advocated for the junior student body by voicing their concerns to the Associated Students of the University of Washington Bothell (UWB) executive council, resulting in changes to school policies such as parking and class registration fees.
										Collaborated with UWB leadership program to conduct outreach and promote transparency within branches of student government ensuring trust and confidence of students
										 </p>
							</div>

						

							<div class="job last">
								<h2>Claire’s Boutique</h2>
								<h3>Sales Associate </h3>
								<h4>January 2013 – May 2014</h4>
								<p>Utilized knowledge of products and trends to assist 40+ customers daily with exceptional care and attention, achieving target sales each week.
										Implemented piercing protocols to 7+ customers weekly, ensuring a clean and safe environment 
										Managed and stocked jewelry inventory to improve customers shopping experience and ensure customers had access to all products at all times.
										</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Washington, Bothell, WA </h2>
							<h3>Major, Health Studies &mdash; <strong>3.2 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
				<h3><a id="pdf" href="https://scedu-my.sharepoint.com/:w:/g/personal/meskerem_ayale_seattlecolleges_edu/EVGh4xXJE99BixtaY6qHy5UBOS--3LCZM9RpSNEfCPJtNw?e=ICvSTx">Download PDF</a></h3>
		</div><!--// footer -->

	</div><!-- // inner -->


</section><!--// doc -->
</div>

</body>


