<body>
 <!-- Main -->
 <div id="main">

    <!-- Intro -->
      <section id="top" class="one dark cover" src="src/assets/images/pt.jpg" alt="">
        <div class="container">

          <header>
            <h2 class="alt"> <strong> Hi! I'm Meskerem Ayale </strong> <br />
              </h2>
            <p>a Year Up Student at Seattle Central Community College.<br/>
            On a mission to close the opporunity divde.</p>
          </header>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </section>




 </div>
 </body>